.container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 50px);
}

.calc-btn {
  background-color: #e0e0e0;
  border: 1px solid #d9d6d4;
  color: black;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: white;
  }
}

.result {
  grid-area: 1/1/2/5;
  background-color: #858693;
  color: white;
  text-align: right;
  padding-right: 15px;
  font-size: 20px;
  cursor: copy;

  &:hover {
    background-color: #858693;
  }
}

.zero-btn {
  grid-area: 6/1/7/3;
}

.op-btn {
  background-color: #f5913e;
}
